# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*~

# Logs
*.log
npm-debug.log*

# Dependencies (на случай перехода на сборку)
node_modules/
dist/
.cache/

# Env
.env
.env.local

# Bot
bot/users.db
bot/__pycache__/
bot/.venv/
